* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color:#8A8A8A;
}

.container {
    max-width: 700px;
    margin: auto;
}

.title {
    margin: auto;
    margin-top: 15px;
}

.logo {
  width: 14%;
  height: auto;
  margin-bottom: 2%;
}

.navigation {
    margin-top: 10px;
}

li {
    display: inline-block;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #b2b2b2;
    margin-right: 10px;
}

li:hover a {
    background-color: #cbbcb6;
    color: white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.banner-text {
    min-height: 300px;
    color: #ffffff;
    padding-top: 180px;
    padding-right: 300px;
    padding-left: 30px;
    padding-bottom: 30px;
}

h1 {
    font-weight: 700;
    /* font-size: 30px; */
}

h2{
    font-weight: 300;
    font-size: 18px;
}

h3 {
    margin: 7px 0px;
}

h4 {
    text-align: center;
    font-weight: 400; 
}

h1, h3, h4 {
    color: black;
}

h3, h4, p, small {
    font-size: 10px;
}

p {
    font-weight: 300;
}

small {
    color: #b2b2b2;
}

.hero {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: 0px;
    min-height: 300px;
    margin: 20px auto;
}

.bg-black {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,20%);
    border-radius: 5px;
}

.low-section {
    margin: auto;
    margin-top: 15px;
}

.row-up-columns {
    min-height: 40px;
    line-height: 18px;
}

.left-col, .right-col {
    width: 20%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.middle-col {
    width: calc(60% - 24px);
    margin: 15px 12px;
}

div[class$="col"] {
    min-height: 315px;
    float: left;
}

.img-left {
   background: url("../img/img-1.jpg");
}

.img-middle {
   background: url("../img/banner-2.jpg");
   
}

.img-right {
   background: url("../img/img-3.jpg");
}

.img-left, .img-middle, .img-right {
   height: 120px;
   width: 100%;
   background-position:  center ;
   background-size: cover;
   background-repeat: no-repeat;
}

h5 {
    font-size: 9px;
    font-weight: 400;
    color: #9a9a9a;
}

.row-down-columns {
    margin: 5px auto;
}

.hero:hover .overlay {
    background-color: white;
    opacity: 0.8;
}

.hero:hover .banner-text {
    color: black;
}

.banner-text:hover h2, .banner-text:hover p {
    font-weight: bold;
}

.right-col:hover, .middle-col:hover, .left-col:hover {
    background-color: #cccccc;
}

h5:hover, h3:hover {
    color: white;
}

.heart {
    color: red;
}

@-webkit-keyframes blackWhite {  
    0% { background-color: white; }
    50% { background-color: #cccccc; }
    100% { background-color: white; }
}

.row-down-columns {
    /* height: 100px; */
    background-color: white;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 5s;
    border-radius: 100%; 
}   